/* body {
    background-color: #E0E1DD, #778DA9, #415A77, #1B263B, #0D1B2A;
} */

body {
    background-color: #E0E1DD;
    color: #0D1B2A ;
}

.navbar{
    color: #008000;
}

#carousel {
    height: 32rem;
   
}









